
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Outfit-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Outfit-VariableFont_wght.ttf") format('truetype');
 
}